<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/css/style.css" rel="stylesheet" type="text/css" />
    <title>View para o EJS</title>
  </head>
  <body>
    <!-- usar JS no arquivo de extensão .ejs -->
    <!-- <% const message = "Olá mundo!"%>
    <p><%= message%></p> -->

    <div class="container">
      <div class="content">
        <!-- criar um loop para renderizar cada um dos usuarios cadastrado no banco de dado -->

        <div>
          <div class="flex">
            <li>Nome</li>
            <li>email</li>
          </div>
          <% if(users.length>0){ %> <% users.forEach(user =>{ %>
          <ul class="flex">
            <li><%= user.firstName %> <%= user.lastName %></li>
            <li><%= user.email%></li>
          </ul>
        </div>

        <% }) %> <% } else { %>
        <p>Não existe usuários cadastrados</p>
        <% } %>
      </div>
    </div>
  </body>
</html>
